

<ion-content>
  <div class="access-container">
    <ion-img src="assets/images/seguridad-financiera.png"></ion-img>
    <h1>Nombre</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod.</p>
    <ion-button expand="full" routerLink="/login" class="btn-login">Acceder</ion-button>
    <ion-button expand="full" fill="outline" routerLink="/register" class="btn-register">Registrarse</ion-button>
    <a class="forgot-password" href="#">¿Olvidó su Contraseña?</a>
  </div>
</ion-content>
